

.topleft,.toprigth{
    flex:3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topIcon{
    font-size: 20px;
    margin-right: 10px;
    color: #444;
    cursor: pointer;

}

.topimg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;

}
.toplist{
   display: flex;
   justify-content: center;
   margin: 0;
   padding: 0;
   list-style: none;
}
.toplistitem{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}
.topcenter{
    flex: 6;font-size: 20px;
}

.searchIcon{
    font-size: 18px;
    color: #666;
    cursor: pointer;
    margin-left: 15px;

}